#endSection .switch {
    background-image: url("../../media/809f5c2aab51871f3544d24b9b88ce23_w200.webp");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    width: 4rem;
    height: 4rem;
}