body {
    background-color: #f0f0f0;
}

h2 {
    font-size: 3rem;
    color: #130B3B;
}

.aircraft-name {
    color: #130B3B;
    text-align: center;
    font-size: 7rem;
}

.aircraft-picture {
    width: 100%;
    height: auto;
}

.aircraft-specs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: 15rem;
    color: #130B3B;
    font-size: 1.4rem;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.aircraft-text {
    font-size: 1.4rem;
    color: #130B3B;
    text-align: justify;
    text-justify: inherit;
}

.aircraft-text-section {
    padding: 3rem;
}

.aircraft-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 15%;
    margin: 5%;
}

.aircraft-button button {
    border: 0;
    background-color: indianred;
    width: 35%;
    height: 5rem;
    font-size: 1.5rem;
    color: #DFDFDF;
    -webkit-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
    transition: background-color 0.2s;
}

.aircraft-button button:hover {
    background-color: crimson;
}