@font-face {
    font-family: 'Dassault Aviation Sans';
    src: url('../../fonts/DassaultAviationSans-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Dassault Aviation Sans';
    src: url('../../fonts/DassaultAviationSans-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Dassault Aviation Sans';
    src: url('../../fonts/DassaultAviationSans-BoldItalic.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Dassault Aviation Sans';
    src: url('../../fonts/DassaultAviationSans-Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Dassault Aviation Sans';
    src: url('../../fonts/DassaultAviationSans-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Dassault Aviation Sans';
    src: url('../../fonts/DassaultAviationSans-LightItalic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Dassault Aviation Sans';
    src: url('../../fonts/DassaultAviationSans-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Dassault Aviation Sans Condensed';
    src: url('../../fonts/DassaultAviationSansCondensed-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Dassault Aviation Sans Condensed';
    src: url('../../fonts/DassaultAviationSansCondensed-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Dassault Aviation Sans Condensed';
    src: url('../../fonts/DassaultAviationSansCondensed-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Dassault Aviation Serif';
    src: url('../../fonts/DassaultAviationSerif-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Dassault Aviation Serif';
    src: url('../../fonts/DassaultAviationSerif-BoldItalic.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Dassault Aviation Serif';
    src: url('../../fonts/DassaultAviationSerif-Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Dassault Aviation Serif';
    src: url('../../fonts/DassaultAviationSerif-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Dassault Aviation Serif';
    src: url('../../fonts/DassaultAviationSerif-LightItalic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Dassault Aviation Serif';
    src: url('../../fonts/DassaultAviationSerif-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Dassault Aviation Sans", sans-serif;
}

h1 {
    text-align: center;
    color: #333;
}

p {
    font-size: 16px;
    line-height: 1.5;
    color: #666;
}

.underline {
    text-decoration: underline;
}

.cta {
    font-family: "Dassault Aviation Sans", sans-serif;
    letter-spacing: 1px;
    display: block;
    width: fit-content;
    max-width: 200px;
    padding: 15px 30px;
    text-align: center;
    background-color: #F66;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s;
}

.cta:hover {
    background-color: #E65C5C;
}

.cta:active {
    background-color: #CC5252;
}