body {
    font-family: "Dassault Aviation Serif", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
}

#mainFlow {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

hr {
    width: 70%;
    background-color: black;
}

h1 {
    font-size: 3.5rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 0;
}

.card-container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: 50rem;
}

.card-container:nth-of-type(1) {
    height: 45rem;
}

.bg-container {
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.card-container:nth-of-type(1) .bg-container {
    background-image: url("../../media/rafale-homepage.webp");
    background-position: right;
    filter: brightness(0.5);
}

.card-container:nth-of-type(1) h3 {
    position: absolute;
    text-align: right;
    color: white;
    right: 3rem;
    bottom: 1rem;
    max-width: 50%;
    font-size: 2.5rem;
    font-family: "Dassault Aviation Serif", serif;
    font-weight: normal;
}

.card-container:nth-of-type(2) {
    height: 50rem;
}

.grid {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(2, 1fr);
}

.bg-container {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-container:nth-of-type(2) .content-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    height: 100%;
    padding: 1rem;
    box-sizing: border-box;
    backdrop-filter: brightness(0.5);
}

.card-container:nth-of-type(2) h3 {
    text-align: center;
    color: white;
    margin: 0;
    font-size: 2.5rem;
}

#f22 {
    background-image: url("../../media/f-22a_1.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#m2000 {
    background-image: url("../../media/m2000_1.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#lavi {
    background-image: url("../../media/lavi_2.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#m4000 {
    background-image: url("../../media/m4000.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.card-container:nth-of-type(3) .bg-container {
    background-image: url("../../media/handshake.webp");
    filter: brightness(0.5);
}

.card-container:nth-of-type(3) .content-container {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 2rem;
}

.card-container:nth-of-type(3) h3 {
    font-size: 2rem;
    font-family: "Dassault Aviation Sans", sans-serif;
    font-style: italic;
    font-weight: lighter;
    line-height: initial;
    color: white;
    max-width: 32rem;
    text-align: right;
}

.card-container:nth-of-type(4) {
    height: 40rem;
}

.card-container:nth-of-type(4) .bg-container {
    background-image: url("../../media/fr_flag.webp");
    background-position: center;
    filter: brightness(0.5);
}

.card-container:nth-of-type(4) .content-container {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 2rem;
}

.card-container:nth-of-type(4) h3 {
    font-size: 2rem;
    font-family: "Dassault Aviation Sans", sans-serif;
    font-style: italic;
    font-weight: lighter;
    line-height: initial;
    color: white;
    max-width: 32rem;

}
