#partnersTitle {
    background-image: url("/src/media/ImageHeaderPartners.png");
    color: #FBFBFB;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 39rem;
    background-position: center;
    font-size: 5rem;
    flex-direction: column;
}

#partnersTitle h1 {
    color: inherit;
}

#partners {
    padding: 2rem;
    gap: 5rem;
    display: flex;
    flex-direction: column;
}

.card-odd {
    background: #130B3B;
    width: 100%;
    display: flex;
    color: white;
}

.img-container {
    flex-grow: 1;
}

.inner-card-odd {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 4rem;
    flex-grow: 2;
}

.text-card-odd {
    column-count: 2;
}

.hr-main-odd {
    border: solid 1px #FBFBFB;
    text-align: center;
    width : 80%
}

.hr-main-even {
    border: solid 1px #190E4F;
    text-align: center;
    width : 80%
}

.hr-odd {
    border: solid 1px #FBFBFB;
    text-align: center;
    width : 100%
}

.hr-even {
    border: solid 1px #190E4F;
    text-align: center;
    width : 100%
}

.card-even {
    background: #E2E2E2;
    width: 100%;
    display: flex;
    color: #190E4F;
    flex-direction: row-reverse;
}

.card-even .img-container img {
    float: right;
}

.img-container {
    flex-grow: 1;
}

.inner-card-even {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 4rem;
    flex-grow: 2;
}

.text-card-even {
    column-count: 2;
}