<html lang="fr">
<head>
    <title>topnav component</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/regular/global.css">
    <script src="../../js/global.js" defer></script>
</head>
<body>
    <nav id="navbar">
        <a href="./" id="logo">
            <img src="./assets/svg/no-bg-white.svg" alt="Logo">
            <span id="brandName">FURKAN</span>
        </a>
        <ul>
            <li><a href="./index">Accueil</a></li>
            <li><a href="./products">Catalogue</a></li>
            <li><a href="./partners">Partenaires</a></li>
            <li><a href="./about">À propos</a></li>
        </ul>
        <div class="vl"></div>
        <div id="endSection">
            <div class="switch tooltip"><span class="tooltip-text">CSS alternatif</span></div>
            <div class="dropdown">
                <span>FR ▼</span>
                <div class="dropdown-content">
                    <a href="./index.html">FR</a>
                    <a href="./en/index.html">EN</a>
                </div>
            </div>
        </div>
    </nav>
</body>
</html>
